<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWrlkJSL3lKNINYzHPH-s_IcPQZMelAGI</string>
	<key>GCM_SENDER_ID</key>
	<string>589898369862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cricketscore.livescore</string>
	<key>PROJECT_ID</key>
	<string>cricketlivescore-2094e</string>
	<key>STORAGE_BUCKET</key>
	<string>cricketlivescore-2094e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589898369862:ios:bb1ab0312bf0963b557347</string>
</dict>
</plist>